* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width:361px) {
  body {
    max-width: 360px;
    height: 640px;
    background-color: #F6F2FF;
    border-radius: 20px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  /* FIRST PAGE */
  .tk-first-page {
    width: 100%;
    height: 640px;
    display: block;
  }

  .tk-first-page .tk-box-img {
    width: 100%;
    height: auto;
    display: block;
    padding: 87px 9px 26px 31px;
  }

  .tk-first-page .tk-first-title {
    width: 241px;
    height: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 86px;
  }

  .tk-first-btn {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    padding: 0 27px 34px 293px;
  }

  .tk-first-btn a {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  /* LOGIN PAGE */
  .tk-login-page {
    width: 100%;
    height: 640px;
    display: block;
    margin: 0 auto;
  }

  .tk-login-page .tk-login-title {
    width: 100%;
    height: auto;
    display: block;
    padding: 150px 78px 0 59px;
  }

  .tk-login-page .tk-login-title .tk-login-img {
    width: 223px;
    height: 120px;
    display: table;
    background: center url('../images/LoginPage/img-login-page.png') no-repeat;
    z-index: 200;
  }

  .tk-login-page .tk-login-title .tk-login-img h1 {
    width: 122px;
    height: auto;
    margin: 17px 41px 60px 60px;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    z-index: 300;
    letter-spacing: 0.02em;
  }

  .tk-login-page .tk-login-form {
    width: 301px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px 18px;
    margin: 0 auto;
  }

  .tk-login-page .tk-login-form button {
    margin-top: 8px;
  }

  .tk-login-page .tk-login-form input,
  .tk-login-page .tk-div-btn button {
    width: 261px;
    height: 36px;
    border-radius: 30px;
    padding: 12px 0 13px 19px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #6368D9;
  }

  .tk-login-page .tk-div-btn {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-bottom: 18px;
  }

  .tk-login-page .tk-div-btn button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

  }

  .tk-login-page .tk-create-account {
    width: 272px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #9C98A2;
    margin: 0 auto;
  }

  .tk-login-page .tk-create-account a {
    text-decoration: none;
  }

  /* SIGNUP PAGE */
  .tk-signup-page {
    width: 100%;
    height: 640px;
    display: block;
    margin: 0 auto;
  }

  .tk-signup-page .tk-signup-title {
    width: 100%;
    height: auto;
    display: block;
    padding: 0 78px 0 59px;
  }

  .tk-signup-page .tk-signup-title .tk-signup-img {
    width: 223px;
    height: 120px;
    display: table;
    background: center url('../images/LoginPage/img-login-page.png') no-repeat;
    z-index: 200;
  }

  .tk-signup-page .tk-signup-title .tk-signup-img h1 {
    width: 122px;
    height: auto;
    margin: 17px 41px 60px 60px;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    z-index: 300;
    letter-spacing: 0.02em;
  }

  .tk-signup-page .tk-signup-form {
    width: 301px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px 18px;
    margin: 0 auto;
  }

  .tk-signup-page .tk-signup-form input,
  .tk-signup-page .tk-signup-form button {
    width: 261px;
    height: 36px;
    border-radius: 30px;
    padding: 12px 0 13px 19px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #6368D9;
  }

  .tk-signup-page .tk-signup-form button {
    margin-top: 8px;
  }

  .tk-signup-page .tk-signup-form .tk-input-img[type='file'] {
    display: none;
  }

  .tk-signup-page .tk-signup-form .tk-img-perfil {
    width: 150px;
    height: 150px;
    display: block;

  }

  #img-signup {
    width: 150px;
    height: 150px;
    display: table;
    border-radius: 50%;
    cursor: pointer;
  }

  .tk-signup-page .tk-signup-form button {
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  .tk-signup-page .tk-login {
    width: 272px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #9C98A2;
    margin: 0 auto;
  }

  .tk-signup-page .tk-login a {
    text-decoration: none;
  }

  /* HOME PAGE */
  .tk-home-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 38px 36px 20px;
  }

  .tk-home-section .tk-hello-name {
    width: auto;
    height: auto;
    display: flex;
    gap: 11px;
    margin-bottom: 43px;
  }

  .tk-home-section .tk-hello-name img {
    width: 44px;
    height: 44px;
    display: inline-block;
    border: 1px solid #6368D9;
    border-radius: 50%;
  }

  .tk-home-section .tk-hello-name .tk-hello-text {
    width: auto;
    height: auto;
    display: block;
    padding: 3.5px 0;
  }

  .tk-home-section .tk-hello-name .tk-hello-text h1 {
    width: 40px;
    height: 10px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .tk-home-section .tk-hello-name .tk-hello-text h2 {
    width: 127px;
    height: 10px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    font-weight: 700;
  }

  .tk-home-section .tk-p {
    height: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .tk-home-section .tk-progress-bar-details {
    width: 286px;
    height: 149px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 8.5px 9.51px 18px;
    background: url("../images/HomePage/Diary\ \(1\).png") no-repeat #6368D9;
    background-position: right bottom;
    margin-bottom: 24px;
  }

  .tk-home-section .tk-progress-bar-details p {
    height: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }

  .tk-home-section .tk-progress-bar-details .tk-loading-bar {
    width: 242px;
    height: 8px;
    display: block;
    border: 1px solid #D1D0F9;
    border-radius: 20px;
    margin-bottom: 19px;
    margin-top: 12px;
  }

  .tk-home-section .tk-progress-bar-details .tk-loading-bar div {
    width: 62.5%;
    height: 6px;
    display: block;
    background-color: #D1D0F9;
  }

  .tk-home-section .tk-progress-bar-details h1 {
    width: 135px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }

  .tk-home-section .tk-progress-bar-details button {
    width: 80px;
    height: 22.22px;
    background: #D1D0F9;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .tk-home-section .tk-progress-bar-details img {
    position: absolute;
  }

  .tk-home-section .tk-tags-categories-p {
    height: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  .tk-home-section .tk-tags-categories {
    width: 293px;
    height: auto;
    display: block;
    padding: 20px 0 6px;
  }

  .tk-home-section .tk-tags-categories ul {
    width: auto;
    max-width: 330px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .tk-home-section .tk-tags-categories li {
    width: 137px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 15px;
  }

  .tk-home-section .tk-tags-categories li:nth-child(odd) {
    margin: 0 19px 8px 0;
  }

  .tk-home-section .tk-tags-categories li:nth-child(5) {
    margin: 0 19px 0 0;
  }

  .tk-home-section .tk-tags-categories .tk-text-li {
    max-width: 53px;
    height: auto;
    display: block;
  }

  .tk-home-section .tk-tags-categories .tk-text-li h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }

  .tk-home-section .tk-tags-categories .tk-text-li p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  /* FOOTER */
  footer {
    width: auto;
    max-width: 292px;
    height: 48px;
    display: block;
  }

  .tk-footer-btns {
    width: 292px;
    height: 48px;
    display: flex;
    align-items: flex-end;
    gap: 34px;
  }

  .tk-footer-btns .tk-footer-btns-menu {
    width: 27px;
    height: 27px;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    background-color: #F6F2FF;
  }

  .tk-footer-btns .tk-create-task {
    width: 49px;
    height: 49px;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    background-color: #F6F2FF;
    border-radius: 50%;
  }

  .tk-footer-btns .tk-create-task img {
    width: 48px;
    height: 48px;
  }

  /* MODAL */
  .tk-container-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 51px 38px 66px;
  }

  .tk-container-modal .tk-box-title-modal {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 28px;
  }

  .tk-container-modal .tk-box-title-modal button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
  }

  .tk-container-modal .tk-box-title-modal h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .tk-container-modal .tk-form-modal {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal h1 {
    width: auto;
    height: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input {
    width: 284px;
    height: 36px;
    border: 1px solid #6368D9;
    border-radius: 20px;
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-size: 14px;
    background-color: #F6F2FF;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal div {
    display: flex;
    flex-wrap: wrap;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal .tk-modal-h1 {
    margin-right: 76px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal .tk-modal-input {
    margin-right: 12px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input[type='time'] {
    width: 136px;
    height: 36px;
    display: block;
    margin-bottom: 0;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input[type='date'] {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 0 18px;
    background: url('../images/Footer/icon\ _Calendar_.svg') no-repeat;
    background-position: 18px;
    background-size: 20px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input[type='date']::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    opacity: 0;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input[type='time'] {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 18px;
    background: url('../images/ModalPage/icon\ _clock_.svg') no-repeat;
    background-position: 18px;
    background-size: 20px;
  }

  .tk-container-modal .tk-form-modal .tk-inputs-modal input[type='time']::-webkit-calendar-picker-indicator {
    width: 10px;
    height: 10px;
    opacity: 0;
  }

  .tk-container-modal .tk-categories-modal {
    width: 100%;
    height: auto;
    display: block;
  }

  .tk-container-modal .tk-categories-modal h1 {
    height: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }

  .tk-container-modal .tk-categories-modal div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .tk-container-modal .tk-categories-modal button[name='categories'] {
    height: 22px;
    display: grid;
    place-items: center;
    padding: 0 16px;
    border-radius: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    background-color: #D1D0F9;
    color: #6368D9
  }

  .tk-container-modal .tk-categories-modal button[name='categories'].selected {
    background-color: #6368D9;
    color: #F6F2FF;
  }

  .tk-container-modal .tk-description-btn-modal {
    display: flex;
    flex-direction: column;
  }

  .tk-container-modal .tk-description-btn-modal h1 {
    height: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
  }

  .tk-container-modal .tk-description-btn-modal textarea {
    max-width: 284px;
    min-width: 284px;
    min-height: 107px;
    max-height: 107px;
    display: block;
    border: 1px solid #6368D9;
    border-radius: 20px;
    margin-bottom: 36px;
  }

  .tk-container-modal .tk-modal-save {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }

  .tk-container-modal .tk-modal-save button:first-child {
    width: 39px;
    height: 30px;
    display: grid;
    place-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
  }

  .tk-container-modal .tk-modal-save button:last-child {
    width: 157px;
    height: 30px;
    display: grid;
    place-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
}

/* UTILITY CLASSES */
.tk-bg-purple {
  background-color: #6368D9;
}

.tk-bg-gray {
  background-color: #D1D0F9;
}

.tk-color-purple {
  color: #6368D9;
}

.tk-color-white {
  color: #F6F2FF;
}

/* EDIÇÃO DOS PLACEHOLDER */
#emailId::-webkit-input-placeholder,
#occupationId::-webkit-input-placeholder,
#passwordId::-webkit-input-placeholder,
#nameId::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #6368D9;
}